#monBouton1 {
    background: gray;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}
#monBouton2 {
    background: gray;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}
#monBouton3 {
    background: gray;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}